/*mycsc*/
.like_part{
text-align : right ;
}
.description_box{
margin-top : 10px ;}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}
.container {
    padding: 20px 20px;
	width:500px;
	height:1000px ;
    position: relative;
    color: Black;

}

.price{
color: orange;
}

.card:hover {
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
}