.card{
  border: none;
  border-top: 1px solid rgba(0,0,0,.125);
  border-radius: 0px;
}
.card h6 {
  color : 333;
}
.categoryZone{
  padding: 0px;

}
.filter_zone{
  margin-top: 100px;
}
.cat_menu a{
  color: #999;
}
.cat_menu a:hover{
      border-bottom: 1px solid #999;
}
