.card-title {
  font-weight: 300;
  font-size: 2rem;
}

.product-card .card {
  margin: 20px;
  overflow: hidden;
}
.card .card-img {
  position: relative;
  width: 250px;
  height: 300px;
  display: flex;
}
.card .card-img img {
  border-radius: 2px 2px 0 0;
  max-height: 100%;
  max-width: 100%;
  padding-left: 95px;
  vertical-align: middle;
  padding-top: 29px;
  top: 50%;
  object-fit: contain;
}
.product-card .card .card-content {
  padding: 5px;
}

.product-card .card .price {
  width: 70px;
  height: 70px;
  font-weight: 600;
  font-size: 1.45rem;
  line-height: 70px;
  margin: 10px;
  position: absolute;
  top: 0;
  letter-spacing: 0;
}

.product-card ul.card-action-buttons {
  margin: -18px 7px 0 0;
  text-align: right;
}

.product-card ul.card-action-buttons li {
  display: inline-block;
  padding-left: 7px;
}

.product {
  width: 20%;
  padding: 10px;
}

.product .card {
  margin: 0;
}

.product .card .card-content {
  padding: 5px 10px;
}
