.checkout {
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 10em;
    padding-right: 10em;
  }
.checkout-img{
    max-height: 75px;
    margin: 10px;
}
.orderHeader{
    display: flex;
    flex-direction: column;
}
.orderHeader div{
    display: flex;
    flex-direction: row;
}
.orderHeader div h5{
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.courierInfoHeader{
    text-align: center;
}
.courierInfo{
    padding:15px 0;
}
.courierInfo div {
    margin-bottom: 20px;
}